@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* semantic color variables for this project */
:root {
  --color-background: #fcfcfc;
  --color-background-dark: #f0f0f0;
  --color-neutral: #B0B8BF;
  --color-yellow: #FFCC33;
  --color-primary: #de81a4;
  --color-secondary: #95bdef;
  --color-secondary-dark: #1b5eb1;
  --color-primary-dark: #b46482;

  --section-padding: 0 max(60px, 10vw);
  --section-height: clamp(600px, 100svh, 1080px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Raleway';
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-background);
}

button {
  font-family: 'Raleway';
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: var(--color-primary) solid 1.5px;
}